@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif !important;
    --toastify-toast-min-height: 20px !important;
    --toastify-font-family: Inter !important;
}

body{
    font-family: Inter !important;
}

.dropdown-toggle.no-arrow:after{
    display: none;
}
.modal-backdrop{
    opacity:0.7 !important;
}

.toggle-theme-dark{
    display: flex;
}
.toggle-theme-light{
    display: flex;
}
thead th{
    font-size: 11px !important;
}
label{
    font-weight: 500;
}

/*BLOCK SLIDER */
.block-slider{
    background-color: #f4f5fa;
    margin-bottom: 150px;
}
.theme-dark .block-slider{
    background-color: transparent;
}
.slider-wrapper{
    position: relative;
    height: 450px
}
.slider-img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 400px;
}
.slider-img img{
    height: 400px;
}
.slider-header-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 180px;
}
.slider-widget{
    position: absolute;
    background-color: #fff;
    bottom:-60px
}
.slider-content-link{
    position: relative;
    padding:0 20px;
    width: 100%;
}
.slider-link{
    text-decoration: none;
}
.slider-link-img{
    display: flex;
    min-width:100px !important;
    width:100px;
    height:100px
}
.slider-link-text{
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #f16134;
}
@media (max-width:767px){
    .slider-wrapper{
        height: auto;
    }
    .slider-header-title{
        margin-top:50px;
        font-size: 35px;
        text-align: center;
    }
    .slider-header-description{
        text-align: center !important;
    }
    .slider-widget{
        position: relative;
        bottom: 0;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .slider-img{
        display: none;
    }
}

/* BLOCK WIDGET */
.block-widget{
    display: flex;
}
.block-title{
    font-size: 25px;
    font-weight: 700;
}
.widget-link-img{
    display: flex;
    min-width:150px !important;
    width:150px;
    height:150px
}
.widget-title-text{
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #f16134;
}
.box-shadow-1{
    background-color: #fff;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.08);
}
.widget-link-img-icon{
    min-width:90px !important;
    width:90px;
    height:90px;
    display: flex;
}
.blog-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.theme-dark .block-widget .card-body{
    background: #3f3f4a;
    border: 1px solid #424347
}
.form-control, .form-select{
    font-size: 15px;
    padding-top:8px;
    padding-bottom: 8px;
}
.form-control:focus,
.form-select:focus{
    box-shadow: none;
    border:1px solid #2d68b6
}
@media (max-width:767px){
    .widget-link-img{
        min-width: 100px !important;
        width:100px;
        height: 100px;
    }
}
.rounded-up-0{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.avatar{
    overflow: hidden;
}

/* MAP RESPONSIVE */
@media (max-width:992px) {
    .map-responsive,
    .map-responsive-full,
    .graph-responsive{
        width:100%;
        height:500px;
    }
}
@media (max-width:1199px) {
    .map-responsive,
    .map-responsive-full,
    .graph-responsive{
        width:100%;
        height:500px;
    }
}
@media (max-width:1199px) {
    .map-responsive,
    .map-responsive-full,
    .graph-responsive{
        width:100%;
        height:500px;
    }
}
@media (min-width:1200px) {
    .map-responsive,
    .graph-responsive{
        width:100%;
        height:400px;
    }
    .map-responsive-full{
        height:600px;
    }
}
.dropdown-menu-static{
    position: static !important;
    inset: 0 !important;
    transform: translate(0,0) !important;
}

/* NAVBAR */
.navbar-brand-responsive{
    padding:30px 60px !important;
}
.navbar-brand-responsive .navbar-brand-image{
    height: auto;
}
.navbar-layout-transparent{
    background-color: transparent !important;
    box-shadow: none !important;
}
.navbar-brand-layout-condensed{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar-brand-layout-condensed .navbar-brand-image{
    height: 3rem;
}
@media(max-width:992px){
    .navbar-brand-responsive{
        position: relative;
        width:60px;
        height: 40px;
        overflow: hidden;
        padding:0 !important
    }
    .navbar-brand-responsive .navbar-brand-image{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
    }
    .navbar-layout-transparent{
        background-color: #fff !important;
        box-shadow: rgb(230, 231, 233) 0px -1px 0px 0px inset !important;
    }
}
.text-pre-wrap{
    white-space: pre-wrap !important;
}

/* SIDEBAR COLLAPSE */
@media (min-width: 992px){
    .navbar-expand-lg.navbar-vertical ~ .navbar, .navbar-expand-lg.navbar-vertical ~ .page-wrapper {
        margin-left: 15rem !important;
        transition: margin .3s ease !important;
    }
    .navbar-expand-lg.navbar-vertical ~ .navbar.sidebar-collapsed, .navbar-expand-lg.navbar-vertical ~ .page-wrapper.sidebar-collapsed {
        margin-left: 0 !important;
        transition: margin .3s ease !important;
    }
    .navbar-vertical.navbar-expand-lg{
        margin-left: 0 !important;
        transition: margin .3s ease !important;
    }
    .navbar-vertical.navbar-expand-lg.sidebar-collapsed{
        margin-left: -15rem !important;
        transition: margin .3s ease !important;
    }
}