@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --toastify-toast-min-height: 20px;
    --toastify-font-family: Poppins;
}


body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 23px;
    overflow-x: hidden;
}

@keyframes flashing {
    0%,
    90% {
      opacity: 1;
    }
    45% {
      opacity: 0;
    } 
}
.resize-none{
    resize: none;
}

button:focus, a:focus{
    box-shadow: none !important;
}
.btn-block{
    display: block;
    width:100%
}
.btn{
    font-size: 15px;
    border-radius: 10px;
}
.btn-sm{
    font-size: 14px;
}
.btn-xmd{
    padding-top: 8px;
    padding-bottom: 8px;
}
.btn:focus, .btn:active{
    box-shadow: none !important;
}
.btn-pill{
    border-radius: 20px;
}
.btn-sm.btn-pill{
    border-radius: 15px;
}
.btn-light{
    background:#eff1f2;
    border:1px solid #eff1f2
}
.btn-icon{
    width:40px !important;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-icon.dropdown-toggle::after{
    display: none;
}
.fw-semibold{
    font-weight: 600;
}
.fw-medium{
    font-weight: 500;
}
.fw-normal{
    font-weight: 400;
}
.rounded{
    border-radius: 10px !important;
    overflow:hidden !important
}
.rounded-1x .form-control{
    border-radius: 10px !important;
    overflow-y: visible !important;
}
.rounded-1x .card-body{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.rounded-1x .card-footer{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.rounded-1x{
    border-radius: 10px !important;
    overflow-y: hidden !important;
}
.rounded-2x{
    border-radius: 20px !important;
    overflow-y: hidden !important;
}
.py-2half{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.mb-10{
    margin-bottom: 100px;
}
.mb-6{
    margin-bottom: 60px;
}
.mt-7{
    margin-top: 70px;
}
.mb-1half{
    margin-bottom: 7px;
}
.fs-13px{
    font-size: 13px;
    line-height: 20px;
}
.fs-14px{
    font-size: 14px;
    line-height: 21px;
}
.fs-18px{
    font-size: 18px;
    line-height: 26px;
}
.fs-22px{
    font-size: 22px;
    line-height: 32px;
}
.fs-25px{
    font-size: 25px;
    line-height: 34px;
}
.fs-30px{
    font-size: 30px;
    line-height: 39px;
}
.fs-16px{
    font-size: 16px;
    line-height: 26px;
}
.fs-50px{
    font-size: 50px;
}
.fs-20px{
    font-size: 20px;
    line-height: 31px;
}
.row.horizontal-scrollable {
    overflow-x: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.link-secondary{
    color: #f16134;
}
.link-secondary:hover,
.link-secondary:focus,
.link-secondary:active{
    color:#c44924
}
.link-light{
    color:#CAD1D8;
    font-size: 14px;
}
.link-light:hover,
.link-light:focus,
.link-light:active{
    color:#fff
}
.modal-sm-jam .btn-close{
    top:20px !important;
    right:20px !important
}
.avatar {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    font-size: .85rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: #6e7582;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #f1f3f8 no-repeat center/cover;
    border-radius: 50%;
    overflow: hidden;
}
.avatar-xxl{
    width:9rem;
    height:9rem;
    font-size: 4rem;
    line-height: 9rem;
}
.avatar-full{
    width:100%;
    height:100%;
    font-size: 100%;
}
.avatar-xl {
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
    line-height: 6rem;
}
.avatar-lg {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.25rem;
    line-height: 4.5rem;
}
.avatar-lg.fill img,
.avatar-xl.fill img{
    object-fit: cover;
    width:100%;
    height:100%
}
.avatar-xmd{
    width:2.8rem !important;
    height: 2.8rem !important;
    font-size: 1.2rem;
    line-height: 2.8rem;
}
.avatar-xxmd{
    width:3.5rem !important;
    height:3.5rem !important;
    font-size: 1.7rem;
    line-height: 3.5rem;
}
.avatar img{
    width: 100%;
}
.avatar-list-stacked .avatar {
    margin-left: -.65rem !important;
    box-shadow: 0 0 0 2px #fff;
}
.min-width-0{
    min-width: 0px;
}
.max-width-100{
    max-width: 100%;
}
.end-1{
    right:10px;
}
.top-2{
    top:20px
}
.notification-dot{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #c44924;
    position: absolute;
    top: 6px;
    right: 11px;
    border-radius: 50%;
}
.cursor-pointer{
    cursor: pointer;
}
.rbt-menu{
    position: absolute;
}
.dropdown-menu{
    min-width: 210px;
    border:1px solid #f6f7f8;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .05);
}
.dropdown-item{
    padding:5px 10px;
    font-size: 14px;
    border-radius: 5px;
}
.dropdown-item:focus,
.dropdown-item:active{
    background-color: #283891;
    color:#fff !important
}
.dropdown-item:focus i,
.dropdown-item:active i{
    color: #fff !important;
}
.dropdown-item i{
    display: inline-block;
    width:25px;
    font-size: 18px;
    color: #898989;
}
.dropdown-divider{
    opacity: .1;
}
.dropdown-menu-profile{
    top:5px !important
}
.dropdown-menu-animated{
    display: block;
    visibility: hidden;
    opacity:0;
    top:30px !important;
    transition:.3s ease all;
    z-index: 99999
}
.dropdown-menu-animated:not(.show) div{
    visibility: hidden;
    opacity: 0;
    transition: .3s ease all;
}
.dropdown-menu-animated.show{
    display: block;
    visibility: visible;
    opacity:1;
    top:5px !important;
    transition:.3s ease all;
}
.overflow-y-visible{
    overflow-y: visible !important;
}
.overflow-x-visible{
    overflow-x: visible !important;
}
.overflow-y-auto{
    overflow-y: auto !important;
}
@media (max-width:767px){
    .no-caret-small:after{
        display: none;
    }
}
.list-group-item-user:hover{
    background-color: #fff;
}
.block-divider{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.block-divider-text{
    position: relative;
    background-color: #fff;
    z-index: 100;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}
.block-divider-line{
    position: absolute;
    content: "";
    width:100%;
    height: 1px;
    left: 0;
    top:12px;
    background-color: #c4c4c4;
    z-index: 1
}
.table .thead-light th {
    background-color: #f2f4f6;
    color: #1f2937;
}
.table-nowrap th,
.table-nowrap td{
    white-space: nowrap !important;
}

/* transition group */
.tg-zoom{
    position: relative;
}
.tg-zoom-enter {
    position: absolute;
    overflow-x:hidden;
    opacity: 0;
    transform: scale(1.1);
}
.tg-zoom-enter.tg-zoom-enter-active {
    position: relative;
    overflow-x:hidden !important;
    opacity: 1;
    transform: scale(1);
    transition: all .3s ease;
} 
.tg-zoom-exit{
    visibility: hidden;
}
.tg-fade{
    position: relative;
    transition: all 3s ease;
}
.tg-fade-exit{
    visibility: hidden;
    transition: all 3s ease;
}

/* PRIMARY THEME */
.btn-gray{
    background-color: #dfdfdf;
    border: 1px solid #dfdfdf;
    color:#343434 !important
}
.btn-primary{
    background-color: #283891;
    border: 1px solid #1d2b77;
    color:#fff
}
.btn-primary:disabled {
    color: #fff;
    background-color: #4e5fbd;
    border-color: #3748aa;
}
.btn-outline-primary{
    border-color: #1d2b77;
    color: #283891;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active{
    background-color: #1d2b77 !important;
    border:1px solid #1d2b77 !important;
    color:#fff !important
}
.text-primary,
.link-primary{
    color: #283891 !important;
    text-decoration: none;
}
.link-primary:hover,
.link-primary:focus,
.link-primary:active{
    color:#283891
}
.bg-primary{
    background-color: #283891 !important;
    color:#fff
}
.bg-primary .text-muted{
    color:#bbb !important
}
.rbt .dropdown-item:focus,
.rbt .dropdown-item:active,
.rbt .dropdown-item.active{
    background-color: #e9ecef;
}
.text-secondary{
    color:#F16134 !important
}
.bg-light-2{
    background: #dfdfdf !important;
}
.text-purple{
    color:#df4dff !important
}

/* CSS DROPDOWN MENU */
.navbar-header{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;;
    background-color: #fff;
}
.css-dropdown{
    position: relative;
}
.css-dropdown .nav-link > i{
    margin-left: 3px;
}
.css-dropdown-menu{
    position: absolute;
    display: block;
    top: 80px;
    left: 15px;
    width:100%;
    background-color: #fff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .05);
    border-top:2px solid #283891;
    border-radius: 0 0 5px 5px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    z-index: 9
}
.css-dropdown-menu:before{
    position: absolute;
    left:10px;
    top:-14px;
    content:"";
    border:6px solid transparent;
    border-bottom-color:#283891;
    z-index: 1000;
}
.css-dropdown:hover > .css-dropdown-menu,
.css-dropdown:focus > .css-dropdown-menu{
    top: 40px;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}
.css-dropdown-menu .nav-link{
    font-size: 14px;
}
.offcanvas-start.mobile-menu{
    width:300px
}
.mobile-menu li{
    border-bottom: 1px solid #dfdfdf;
}
.mobile-menu li:last-child{
    border-bottom: 0;
}
.mobile-menu li .nav-link{
    padding: 10px 0;
}
.mobile-menu li .nav-link{
    position: relative;
}
.mobile-menu li .nav-link > i{
    position: absolute;
    right: 0;
    top:7px;
    transition: all .3s ease;
}
.mobile-menu li li{
    border-bottom: 0;
}
.mobile-menu li li .nav-link{
    padding:5px 0
}
.nav-link .icon-nav{
    display: inline-block;
    width:35px;
    font-size: 22px;
    color:#9fa1a2
}
.offcanvas-backdrop.show,
.modal-backdrop.show{
    opacity: .65;
}
.py-1half{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.mobile-menu .css-dropdown-menu{
    position: relative;
    visibility: visible;
    opacity: 1;
    border: 0;
    box-shadow: none;
    top: 0;
}
.mobile-menu .css-dropdown-menu:before{
    display: none;
}
.rotate-90{
    transform: rotate(90deg);
    transition: all .3s ease;
}
.rotate-45{
    transform: rotate(45deg);
}
.mobile-menu .btn-close{
    opacity: .75;
}
.navbar-toggler{
    font-size: 30px !important;
    color:#202124 !important
}
.navbar-toggler:focus,
.navbar-toggler:active{
    box-shadow: none !important;
}

/* BLOCK SLIDER */
.spinner-wrapper{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-gray-lt{
    background-color: #f6f7fa !important;
}
.bg-gray-lt-2{
    background-color: #ededf0 !important;
}
.bg-gray{
    background-color: #e1e2e6 !important;
}
.bg-blue-lt{
    background-color: #e2e9fd !important;
}
.pre-wrap{
    white-space: pre-wrap;
}
.block-slider{
    background-color: #f4f5fa;
    margin-bottom: 150px;
}
.slider-wrapper{
    position: relative;
    height: 550px
}
.slider-img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 450px;
}
.slider-img img{
    height: 450px;
}
.slider-header-title{
    color: #283891;
    font-weight: 700;
    font-size: 45px;
    margin-top: 180px;
}
.slider-widget{
    position: absolute;
    background-color: #fff;
    bottom:-60px
}
.slider-content-link{
    position: relative;
    padding:0 20px;
    width: 100%;
}
.slider-link{
    text-decoration: none;
}
.slider-link-img{
    display: flex;
    min-width:100px !important;
    width:100px;
    height:100px
}
.slider-link-text{
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #f16134;
}
@media (max-width:767px){
    .slider-wrapper{
        height: auto;
    }
    .slider-header-title{
        margin-top:50px;
        font-size: 35px;
        text-align: center;
    }
    .slider-header-description{
        text-align: center !important;
    }
    .slider-widget{
        position: relative;
        bottom: 0;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .slider-img{
        display: none;
    }
}

/* BLOCK WIDGET */
.block-widget{
    display: flex;
}
.block-title{
    font-size: 25px;
    font-weight: 700;
    color: #283891;
}
.widget-link-img{
    display: flex;
    min-width:150px !important;
    width:150px;
    height:150px
}
.widget-title-text{
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #f16134;
}
.box-shadow-1{
    background-color: #fff;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.08);
}
.box-shadow-2{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, .07)
}
.box-shadow-3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .04);
}
.box-shadow-4{
    box-shadow: 0 0px 10px 0px rgba(0,0,0,.09);
}
.widget-link-img-icon{
    min-width:90px !important;
    width:90px;
    height:90px;
    display: flex;
}
.blog-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.card{
    background:none;
    border:1px solid #dfdfdf
}
.card-header{
    background:none;
}
.card-body{
    background-color: #fff;
    border:1px solid #f1f2f3
}
.card-title{
    font-size: 28px;
}
.form-control, .form-select{
    font-size: 15px;
    padding-top:8px;
    padding-bottom: 8px;
    border-radius: 10px;
}
.form-control:focus,
.form-select:focus{
    box-shadow: none;
    border:1px solid #2d68b6
}
@media (max-width:767px){
    .widget-link-img{
        min-width: 100px !important;
        width:100px;
        height: 100px;
    }
}
.login-form{
    max-width: 450px;
}

/* FOOTER */
.block-footer{
    background: #dadadd;
    padding-top: 70px;
}
.footer-title{
    position: relative;
    font-weight: 700;
}
.footer-title:before{
    position: absolute;
    left:0;
    bottom: -5px;
    content: "";
    width:30px;
    height:2px;
    background-color: #232323;
}
.block-footer .link-dark{
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}
.block-footer .link-dark:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height:1px;
    background: #1d2b77;
    transition: all .3s ease;
}
.block-footer .link-dark:hover,
.block-footer .link-dark:focus{
    color:#1d2b77;
}
.block-footer .link-dark:hover:before,
.block-footer .link-dark:focus:before{
    width:100%;
}
.block-footer .footer-collapse{
    transition: height .3s ease;
}
@media (min-width:768px){
    .block-footer .footer-collapse{
        height:auto !important;
        transition: height .3s ease;
    }
}

/* LOGIN */
.modal .btn-close{
    position: absolute;
    right: 30px;
    top: 30px;
    opacity: .7;
    font-size: 18px;
}
.modal-title{
    font-size: 30px;
    font-weight: 600;
    color: #283891;
}
@media (min-width:576px){
    .modal-smd{
        max-width: 430px;
    }
    .modal-smd-2{
        max-width: 400px;
    }
    
    .modal-alert .modal-dialog {
        width: 380px;
    }
}
@media (min-width:768px){
    .modal-xmd{
        max-width: 650px;
    }
}

/* CHAT */
.chat-list{
    overflow-y: auto;
}
.chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto
}
.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0;
}
.chat-message-left > div,
.chat-message-right > div{
    min-width: 25%;
}

.chat-message-left {
    position: relative;
    margin-right: auto
}
.chat-message-right {
    position: relative;
    flex-direction: row-reverse;
    margin-left: auto
}
.chat-file-uploader{
    width: 100%;
}
.chat-file-uploader .progress{
}
.offcanvas-start.chat-user{
    width:350px
}
.chat-message-left .link-dark{
    color:#fff !important
}

/* BLOCK BLOG POST */
.block-blog-post{
}
.blog-post-title{
    font-size: 25px;
    line-height: 37px;
    font-weight: 600;
}
.blog-post-category{
    border-radius: 0;
    border-bottom:1px solid #2d68b6;
    color:#2d68b6;
    text-decoration: none;
}
.blog-post-category:hover,
.blog-post-category:focus,
.blog-post-category:active{
    color:#1d2b77
}
.blog-post-user-info{
    position: relative;
    margin-left: 20px;
    padding-left: 22px;
}
.blog-post-user-info:before{
    position: absolute;
    left:0;
    top:calc(50% - 2px);
    content:"";
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color: #ccc;
}
.blog-post-featured-image{
    width:100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 30px 5px rgba(43, 44, 48, 0.15);
}
.blog-post-featured-image img{
    width:100%;
}
.blog-post-featured-image:hover img,
.blog-post-featured-image:focus img{
}
.post-content blockquote{
    border-left: 5px solid #dfdfdf;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.post-content p,
.post-content blockquote,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6{
    margin-bottom: 25px;
}
@media(min-width:768px){
    .blog-post-title{
        font-size: 30px;
        line-height: 45px;
    }
}

/* BLOG LIST */
.blog-list-title{
    font-weight: 600;
}
.input-group-search{
    position: relative;
}
.input-group-search .form-control{
    font-size: 16px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-group-search .form-control{
    border-radius: 25px !important;
    border-width: 2px;
}
.input-group-search .btn{
    position: absolute;
    right: 0;
    font-size: 20px;
    border-radius: 25px;
    background-color: transparent;
    border:0;
    z-index: 99;
}
.input-group-search .btn:hover,
.input-group-search .btn:focus,
.input-group-search .btn:active{
    background-color: transparent;
    border:0
}

.input-group-search-2{
    position: relative;
}
.input-group-search-2 .form-control{
    font-size: 15px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-group-search-2 .form-control{
    border-width: 1px;
}
.input-group-search-2 .btn{
    position: absolute;
    right: 0;
    font-size: 20px;
    border-radius: 25px;
    background-color: transparent;
    border:0;
    z-index: 99;
}
.input-group-search-2 .btn:hover,
.input-group-search-2 .btn:focus,
.input-group-search-2 .btn:active{
    background-color: transparent;
    border:0
}


/* SIDEBAR */
.sidebar-menu{
    background-color: #fff;
}
.sidebar-menu .css-dropdown-menu{
    width: 100%;
}
.g-custom, .gx-custom{
    --bs-gutter-x: 2.2rem;
}
.mb-custom{
    margin-bottom: 2rem;
}
.option-item{
    background-color: #fff;
    border:1px solid #dfdfdf;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 300px;
    width:300px;
    cursor: pointer;
}
.option-item.active{
    background-color:#f1f2f3
}
.accordion-item{
    margin-bottom: 10px;
    border:1px solid #dfdfdf
}
.accordion-item:not(:first-of-type){
    border: 1px solid #dfdfdf;
}

/* CHAT */
#frame{
    width: 95%;
    min-width: 360px;
    max-width: 1250px;
    height: 92vh;
    min-height: 300px;
    max-height: 100%;
    background-color: #fff;
}
@media screen and (max-width: 576px) {
    #frame {
      width: 100%;
      height: 100vh;
    }
}
#frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 360px;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff
}
#frame .content {
  float: right;
  width: calc(100% - 360px);
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  padding-left: 0px;
}
.chat-footer{
    position: absolute;
    width:100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.accordion-header{
    border-bottom: 0;
}
.accordion-button{
    line-height: 25px;
    font-weight: 500;
    background-color: #fff !important;
    border-bottom: 0 !important;
}
.accordion-button.collapsed{
}
.dropdown-chat .dropdown-toggle:after { content: none }

.chat-arrow-page{
    height: 50px;
    width:100%;
    position:absolute;
    bottom:0;
    left: 0;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.backdrop-nested{
    z-index:1060;
}
.modal-nested{
    z-index: 1060;
}
.backdrop-nested-2{
    z-index:1090;
}
.modal-nested-2{
    z-index: 1090;
}


.input-group-search-3{
    position: relative;
}
.input-group-search-3 .form-control{
    font-size: 16px !important;
    padding-top: 12px;
    padding-left: 50px !important;
    padding-bottom: 12px;
}
.input-group-search-3 .form-control{
    border-width: 2px;
    border-color: rgba(196, 196, 196, .22);
    background-color: rgba(196, 196, 196, .22);
}
.input-group-search-3 .form-control:focus{
    border-width: 2px;
}
.input-group-search-3 .btn{
    position: absolute;
    padding-top: 9px;
    left: 0;
    font-size: 22px;
    border-radius: 25px;
    background-color: transparent;
    border:0;
    z-index: 99;
}
.input-group-search-3 .btn:hover,
.input-group-search-3 .btn:focus,
.input-group-search-3 .btn:active{
    background-color: transparent;
    border:0
}
.product-grid{

}
.product-title{
    font-size: 20px;
}

/* SHOPPING CART */
.product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .sc-list .info .product-name{
	font-weight: 600;
}

.shopping-cart .sc-list .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .sc-list .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .sc-list .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .sc-list .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .sc-list .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .sc-list .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .sc-list .info .quantity {
		text-align: center; 
	}
	.shopping-cart .sc-list .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}
.btn-count{
    width:26px;
    height:26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 13px;
}
.count-text{
    padding-left: 10px;
    padding-right: 10px;
}
.btn-secondary-2{
    background-color: #F16134;
    color:#fff
}
.btn-secondary-2:hover,
.btn-secondary-2:focus{
    background: #da552c;
    color:#fff !important
}
.leaflet-container-1{
    width: 100%;
    min-height: 400px;
    background: #fff;
}
.btn-close-modal{
    position: absolute;
    width:70px;
    height:70px;
    font-size: 40px;
    left: calc(50% - 35px);
    top:-35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background:#fff;
    border-radius: 50%;
}
.rounded-modal{
    border-radius: 10px;
}
.list-extra{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-extra li{
    border-top: 1px dashed #bbb;
    padding: 5px 0;
}
.form-check-input{
    width: 1.4em;
    height: 1.4em;
    border-width: 2px;
    cursor: pointer;
}
.form-check-input:focus{
    box-shadow: none;
    border-color: #283891;
}
.form-check-input:checked{
    background-color: #283891;
    border-color: #283891;
}
.product-grid-image{
    width:100%;
    max-height: 200px;
    overflow: hidden;
}
.product-grid-image img{
    width:100%;
}
.fs-15px{
    font-size: 15px;
}
.install-prompt{
    height:20vh !important
}
.offcanvas-notification .btn-close{
    align-self: start;
    margin: 3px;
}

/* FOOD */
.food-image{
    position: relative;
    height:400px
}
.food-image-wrapper{
    position: absolute;
    width:100%;
    height: 400px;
    overflow: hidden;
    background-color: #000;
    display: flex;
    align-items: center;
}
.food-content-header{
    position: relative;
}
.food-wrapper-header{
    position: absolute;
    background: linear-gradient(rgba(255,255,255,0) 30%, rgba(0,0,0,0.6) 70%);
    width: 100%;
    padding-top: 50px;
    bottom:0
}
.text-muted-inverse{
    color:#ccc
}

@media (max-width:767px){
    .food-image-wrapper .img-fluid{
        width:auto !important;
        transform: scale(1.5);
        background-color: #000;
    }
}

/* RATING */
.rating {
    display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 35px;
    font-size: 45px;
    color: #ff0000;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.2
}
.nav-tabs-v2{
    border-bottom:1px solid #dfdfdf;
}
.nav-tabs-v2 .active{
    border:0;
    border-bottom:2px solid #283891 !important;
    font-weight: 600;
    color:#283891 !important
}
.nav-tabs-v2 .nav-link{
    border:0;
    color:#212529;
    font-weight: 600;
}
.nav-tabs-v2 .nav-link:hover,
.nav-tabs-v2 .nav-link:focus{
    border:0;
}

/* REACT TOGGLE */
.react-toggle {
    touch-action: pan-x;
  
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  
  .react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4D4D4D;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
  }
  
  .react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
  }
  
  .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
  }
  
  .react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-x {
    opacity: 0;
  }
  
  .react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19AB27;
  }
  
  .react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
  }
  
  .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
  }
  .dropdown-list-menu{
    padding-left: 20px !important;
  }

.backdrop-nested{
    z-index:1050;
}
.backdrop-nested-2{
    z-index:1090;
}
.modal-nested-2{
    z-index: 1090;
}
.modal-content{
    border-radius: 10px;
}
.card-header{
    background-color: #fff;
}
.box-shadow-0{
    box-shadow: none !important;
}